{{#if hasSuccess}}
    <div class="alert alert-success" role="alert">
        {{#each successMessages}}
            <p>{{this}}</p>
        {{/each }}
    </div>
{{/if}}
{{#if emailVerification}}
    <div style="width: 1000%" class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{emailHeading}}</h4>
        <p>{{emailVerification}}</p>
    </div>
{{/if}}
{{#if passwordReset}}
    <div style="width: 1000%" class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{resetHeading}}</h4>
        <p>{{passwordReset}}</p>
    </div>
{{/if}}