<!-- page title -->
<section class="section section--first section--bg" data-bg="/images/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">My Profile</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="content">
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="profile__content">
                        <div class="profile__user">
                            <div class="profile__avatar">
                                <img src="/images/{{user.imagePath}}" alt="">
                            </div>
                            <div class="profile__meta">
                                <h3>{{user.name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <!-- content tabs -->
                <div class="row">
                    <!-- details form -->
                    <div class="col-12 col-lg-6">
                        <form action="/user/profile" method="post" class="profile__form" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-12">
                                    <h4 class="profile__title">Profile details</h4>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" for="email">Email</label>
                                        <input id="email" type="text" value="{{user.email}}" name="email" class="profile__input" placeholder="email@email.com">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" for="firstname">Name</label>
                                        <input id="firstname" value="{{user.name}}" type="text" name="name" class="profile__input" placeholder="John">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label">Upload Photo</label>
                                        <input type="file" name="photo">
                                    </div>
                                </div>
                                <input type="hidden" value="{{csrfToken}}"name="_csrf">
                                <div class="col-12">
                                    <button class="profile__btn" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end details form -->

                    <!-- password form -->
                    <div class="col-12 col-lg-6">
                        <form action="#" class="profile__form">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="profile__title">Change password</h4>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" for="oldpass">Old Password</label>
                                        <input id="oldpass" type="password" name="oldpass" class="profile__input">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" for="newpass">New Password</label>
                                        <input id="newpass" type="password" name="newpass" class="profile__input">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                                    <div class="profile__group">
                                        <label class="profile__label" for="confirmpass">Confirm New Password</label>
                                        <input id="confirmpass" type="password" name="confirmpass" class="profile__input">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="profile__btn" type="button">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end password form -->
                </div>
            </div>

        </div>
</div>