
<table class="table">
<thead>
<tr>
    <th scope="col">Path</th>
    <th scope="col">Video</th>
    <th scope="col">Action</th>
</tr>
</thead>
    <tbody>
    {{#each paths}}
        <tr>
            <td>{{this}}</td>
            <td>
                <video width="320" height="240" controls>
                    <source src="/movies/{{this}}" type="video/mp4">
                </video>
            </td>
        <td><form method="post" action="/admin/movies/deleteVideo/{{this}}" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="key" value="{{@key}}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form></td>
    {{/each}}
    </tr>
    </tbody>
</table>

<form method="post" action="/admin/movies/updatePath/{{movieId}}" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-xs-3">
            <label for="exampleInputPassword1">Movie 720P</label>
            <input type="file" name ="movie720p"  id="exampleInputDescription">
        </div>
        <div class="form-group col-xs-3">
            <label for="exampleInputPassword1">Movie 1080P</label>
            <input type="file" name ="movie1080p"  id="exampleInputDescription">
        </div>
        <div class="form-group col-xs-3">
            <label for="exampleInputPassword1">Movie 1440P</label>
            <input type="file" name ="movie1440p"  id="exampleInputDescription">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
