
<table class="table">
<thead>
<tr>
    <th scope="col">Name</th>
    <th scope="col">Video</th>
    <th scope="col">Action</th>
</tr>
</thead>
    <tbody>
    {{#each paths}}
        <tr>
            <td>{{this.name}}</td>
            <td>
                <video width="320" height="240" controls>
                    <source src="/movies/{{this.path}}" type="video/mp4">
                </video>
            </td>
        <td><form method="post" action="/admin/movies/deleteVideo/{{this.path}}" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="name" value="{{this.name}}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form></td>
    {{/each}}
    </tr>
    </tbody>
</table>

<form method="post" action="/admin/movies/updatePath/{{movieId}}" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group">
            <label >Choose res</label>
            <select class="form-control" name="movieRes">
                <option value="movie720p">720p</option>
                <option value="movie1080p">1080p</option>
                <option value="movie1440p">1440p</option>
            </select>
        </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Movie</label>
        <input type="file" id="exampleInputDescription" name="movie">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
