<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>
    <tbody>
    {{#if users}}
    {{#each users}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role.name}}</td>
            <td>
                <form method="post" action="/admin/users/delete/{{this._id}}"
                      enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="_method" value="DELETE">
                    <a type="button" class="btn btn-primary" href="/admin/users/edit/{{this._id}}">Edit</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form></td>
        </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>